{% extends "maquinas/nav.html" %}


{% load static %}

{% block content %}
    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página inicial</title>   
      
        <link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">

    </head>

    <body>

        
        <div class="link">
            <a href="{% url 'addPrev' %}" class="adicionar">Adicionar preventiva</a>
            <a href="{% url 'CompPrev' %}" class="comparar">Comparar preventiva</a>
            <a href="{% url 'pendentes' %}" class="pendentes">Pendentes</a>
        </div>

        <div class="tabela">
            <table>
                    <tr>
                        <th>Máquinas</th>
                        <th>Horimetro</th>
                        <th>Modelo</th>
                        <th>Ultima preventiva</th>
                        <th>Horas de preventiva</th>
                        <th>Proxima preventiva</th>
                    </tr>
                    {% for maquina in maquinas %}
                    <tr>
                        <td><a href="{% url 'pecas' maquina.id %}" class="Nmaq">{{maquina.frota}}</a></td>
                        <td>{{maquina.horimetro}}</td>
                        <td>{{maquina.modelo}}</td>
                        <td>{{maquina.OS}}</td>
                        <td> {{maquina.HoradePreventiva}}</td>
                        <td>{{maquina.proximaPrev}}</td>
                    </tr>
                    {% endfor %}
            
                </table>
            </div>



    </body>
    </html>

{% endblock content %}

