{% extends 'maquinas/nav.html'%}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/pendentes.css' %}">

    <title>Preventivas pendentes</title>
</head>
<body>
    <h1>Precisam fazer preventiva</h1>
   
    <div class="tabela">
        <table>
            <thead>
                <tr>
                    <th>Número de Frota</th>
                    <th>Horímetro Atual</th>
                    <th>Modelo</th>
                    <th>Última Preventiva</th>
                    <th>Realizar preventiva</th>

                </tr>
            </thead>
            <tbody>
                {% for item in maq_manutencao %}
                <tr>
                    <td>{{ item.maquina.frota }}</td>
                    <td>{{ item.ultimo_horimetro }}</td>
                    <td>{{ item.maquina.modelo }}</td>
                    <td>{{ item.maquina.OS }}</td>
                    <td>{{ item.maquina.HoradePreventiva}} hr</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">Nenhuma máquina precisa de manutenção preventiva no momento.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>
{% endblock content %}