*{
    padding: 0;
    margin: 0;
    /* border: 0; */
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

.formulario input[type="checkbox"]{
    width: 10px;
    margin: 5px 0px;
    

}

.formulario input{
    width: 100%;
    padding: 7px;
    margin: 20px 0px;
    
}

.centro{
    display:grid;
    justify-content: center;
    align-items: center;
}

.formulario {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 30px 100px;
    border:solid 1px black ;
    padding: 50px;
}

.formulario button{
    
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 600;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    transition-duration: .2s;
    margin-top: 40px;

}


.formulario button:hover {
  background-color: #374151;
}
