* {
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

h2{
    text-align: center;
    margin-bottom: 50px;
}

h3{
    margin-bottom: -10px;
}

ul{
    margin-top: 20px;
    margin-left: 5px;
    list-style: none;
}

ul li{
    margin: 15px 10px;
}

.barra{
    height: 10px;
    background-color: rgb(3, 217, 31);
}

.borda{
    border: solid 1px black;
    width: 250px;
}